
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Update - CS304 CRUD Assignment</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" /> 
  </head>
  <body>

    <%- include("partials/navbar.ejs") %>

    <div id="flashes"></div>


    <div id="content">

    <h1>Update Movie</h1>

    <form method="POST" action=<%= url %>>
      <table>
          <tr><td>TT</td><td><%= tt %></td></tr>
        <tr>
          <td><label for="movieTitle">Movie Title</label></td>
          <td>
              
              <input id="movieTitle"
                     name="movieTitle"
                     value=<%= title %>>
          </td>
        </tr>
        <tr>
          <td><label for="movieRelease">Release year</label></td>
          <td>
              <input id="movieRelease"
                     name="movieRelease"
                     value=<%= release %>>
          </td>
        </tr>
          <tr>
              <td>Added By</td>
              <td><%= addedBy %></td>
          </tr>
        <tr>
          <td><label for="movieAddedby">Added by</label></td>
          <td>
              <input id="movieAddedby"
                     name="movieAddedby"
                     value=<%= addedById %>>
          </td>
        </tr>
        <tr>
          <td><label for="movieDirectorid">Director ID</label></td>
          <td>
              <input id="movieDirectorid"
                     name="movieDirectorid"
                     value=<%= directorId %>>
          </td>
        </tr>
        <tr>
          <td><label for="movieDirector">Director</label></td>
          <tr>
            <td>Added By</td>
            <td><%= director %></td>
        </tr>
        </tr>
      </table>
      <input type="submit" value="update">
    </form>

    <form method="POST" action="/delete/1121231">
      <input type="submit" value="delete 1121231">
    </form>

    </div>
        <!-- load local js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/cs304node/crud/main.js"></script>

  </body>
</html>
